.loginPage {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 400px;
}

h2 {
    margin-top: 5px;
}

.form-block {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.form-block > label {
    padding-left: 3px;
}

.form-block > input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.block1 {
    margin-top: 50px;
}

.loginButton, .signupButton {
    background-color: #1478e3;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    width: 50%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h6 {
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    position: absolute;
    left: 0;
    right: 0;
    top: 550px;
}

a {
    color: #1478e3;
}

a:hover {
    cursor: pointer;
    color: #0056b3;
}